* {
  margin: 0%;
  padding: 0%;}
 
body {
  overflow-x: hidden;
  background-color: rgb(173, 173, 196);
}

/* INDEX */

main {
  --opacidad-negro: 0.4;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(https://images3.alphacoders.com/109/1095798.jpg);
  background-position: center;
  padding-bottom: 10%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
  }

.nav-link {
  opacity: 0.7;
}

.main-container {
  padding-top: 10%;
  padding-bottom: 10%;
}
   
.snd-section {
  background-color: rgb(153, 153, 179);
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

.fb-section {
  padding-top: 10%;
  padding-bottom: 3%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(153, 153, 179);
}

.card {
  filter: brightness(0.8);
  color: rgb(0, 0, 0);
  margin: 1%;
}

.container-star {
    padding-bottom: 2%;
  }

.feedback1 {
    padding-top: 5%;
  }

.p-fb-section {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.parrafo-fb-carmen {
    margin-bottom: 0%;
    padding: 2%;
  }

.bi-envelope-paper-heart-fill {
  width: 70px;
}

.bi-star-fill {
    color: rgb(255, 208, 0);
  }
.bi-camera-fill{
  width: 40px;
}

.bi-airplane-engines-fill {
  width: 40px;
  margin-bottom: 2%;
  filter: opacity(0.9);
}



  /* EXPEDICIONES */


 /* FOOTER */

.bi-facebook, .bi-twitter, .bi-instagram {
    color: #bb66bb;
  }

