* {
    margin: 0;
    padding: 0;
}

.nos-body, .exp-body {
    background-image: linear-gradient(rgba(20, 20, 85, 0.87),
    rgb(169, 169, 180));
}

.main-nos, .main-exp {
    font-family: "Montserrat", sans-serif;
}