* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.nos-body, .exp-body, .gal-body {
    background-image: linear-gradient(rgba(20, 20, 85, 0.87),
    rgb(169, 169, 180));
    
}

