.airplane-icon {
    width: 50px;
}

.camera-icon {
    width: 50px;
}

.envelope-icon {
    margin-top: 5%;
    width: 50px;
}

.star-icon {
    color: rgba(255, 255, 0, 0.815);
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 5%;
}