.section-feedback-nos {
    font-family: "Montserrat", sans-serif;
    color: antiquewhite;

    .feedback1 {
    margin-top: 15%;
    color: antiquewhite;
    }
    .feedback8 {
        margin-bottom: 5%;
    
    }

}

.parrafo-nos {
   background-color:rgba(153, 153, 179, 0.9);
   padding: 2%;
   border-radius: 10px;
}

.main__title-n {
    font-weight: 500;
    font-size: 50px;
    margin: 3%;
    margin-bottom: 5%;
    color: antiquewhite;
}